.html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    
    
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
p{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 00;
    color: #1d1c1c;
}
i{
    color: #6787f0;
}
.extra-div h2, .servicediv h2{
    font-size: 0.99rem;
    line-height: 1.6;
    font-weight: bold;
    color: #363636;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(21, 206, 248, 0.8),rgba(28, 131, 182, 0.6)),url('./images/img1.jpg');
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%,50% 100%, 0 75%, 0 0);
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to top, #0770e7 10%, #29c4b2 0%, #084252 100%);
}
.navbar{
    content: "";
    position: absolute;
    top: 0%;
    bottom:90%;
    left: 0%;
    right: 0%;
    z-index: -1;
    
}
.nav-item a{
    color: #fff;
    font-weight: bold;
   
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px !important;
}


.header-section{
    height: inherit;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

}
.header-buttons a{
 border: 1px solid #fff;
 border-radius: 100px;
 margin: 0 10px;
 padding: 1px 20px;
 outline: none; 
 color: #fff;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.4;
 text-align: center;
 text-decoration: none;
}
.header-buttons a:hover{
    color: #055888;
    text-decoration: none;
    box-shadow: 0 0 20px 0 ;

}
.center-div p{
    font-size: 1.3rem;
    color: white;
    padding: 10px 0 20px 0;

}
.header-extradiv{
    width: 100%; height: 100%;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
     background: #fff;
     border: medium none;
     padding: 50px !important;
     transition: 0.3s;
     border-radius: 3px;
    
}

.extra-div:hover{
   box-shadow: 0 0 20px 0  rgb(0,0,0,0.3);
   transform: translateY(-50px);
}


.serviceoffer{
    background: #f7f7f9;
    padding:50px 0 ;

}
.heading h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.serviceicon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 0.6rem !important;
    margin-bottom: 25px !important;
}


.documentready{
    margin: 80px 0;

}
.documentready  h1{
    font-family: 2rem;
    text-align: center;
    
}
.pricingoffer{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricingoffer::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom:0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 40%,#fff 50%,#0770e7  5%);
}
.money{
    line-height: 1;
    font-size: 40px;
    color: #606060;

}
.card{
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 25px 9 !important;
    background: #fff !important;
}
.card-body{
    padding: 30px 0px !important;
  
}
.card-body li{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #606060;
    
}
.card-footer{
    background: white;
    padding: 30px 0px !important;
}
.card-footer a{
    border: 2px solid  #28c5f5;
    border-radius: 100px;
    margin: 0 8px;
    padding: 12px 35px;
    outline: none; 
    color: #28c5f5;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
   }
   .card-footer a:hover{
    border: 2px solid  #0770e7;
    background-color: #0770e7;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 40px 0 rgb(0 0 0 ,0.3);
   }

   .card:hover{
    transform:translateY(-20px);
    box-shadow: 0 0 40px 0 rgb(0 0 0 ,0.3);
   }
   .card:hover .card-header,.card:hover .money{
    color: #28c5f5;
    
   }
   .happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px  0;
   }
   .box{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
   }
   .box:hover{
    background: #16c9f6;
   }
   .box:hover p{
    color: white;
   }
   .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
   }
   .carousel-indicators  li{
    background-color: #16c9f6 !important; 
   
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-top: 20px;
}
.box a::after{
    content:"\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
   background: linear-gradient(to right,#1e5799 0%, #3CCDBB 0%, #16c9fc 100%);
   color: white;
   position:absolute;
   top: 120%;
   left: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 15px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.contactus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg ,#16c9f6 55%, #fff 0%) ;
    z-index: -1;
}
.form-button button{
           
 border: 1px solid #fff;
 border-radius: 100px;
 margin: 0 8px;
 padding: 12px 35px;
 outline: none; 
 color: #fff;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.4;
 text-align: center;
background: transparent;
}
form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
::placeholder{
    font-size: 0.85rem;
}
.newsletter{
    margin: 80px auto;
    width: 100%;
    height: 20vh;

}
.news-input{
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-width: 45px;
}
.input-group-text{
    color: #fff !important;
    background: #5dc0de !important;
    border-radius: 0 100px 100px 0 !important;
    min-width: 130px;
    min-height: 50px;
}

.footersection{
    width: 100%;
    height: auto;
    padding:  70px 0 20px 0;
    background: #00abff;
    position: relative;
}
.footersection p{
    color: #fff;
}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
.footersection h5{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
  font-size: 1.2rem !important;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.scrolltop{
    text-align: right;
    
   
}
#myBtn{
      display: none;
      position: fixed;
      bottom: 20px;
      right: 40px;
      border: none;
      color: #fff;
      background: #00abff;
      padding: 10px;
      border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}


/* ----------------media queries------------ */

@media(max-width:768px){
    .footerdiv:nth-child(2){
        text-align: left !important;
    }
    .footerdiv{
        margin: 30px 0 30px 0;
    }
    .card{
        transition: 0.4s ease;
        margin-top: 10px ;
    }.my-4 {
        margin-top:30vh !important;
       
    }.contactus{
        margin-top:40vh !important;
        padding: 100px 0;
        height: 105vh;
    }
    
   
}

@media(max-width:538px){
    .happyclients{
          margin-top: 210px !important;
       
    } .carddiv:nth-child(2){
        transition: 0.4s ease;
       
    }.my-4{
       
        margin-top: 5vh !important;
    }.contactus{
        margin-top:10vh !important;
        padding: 100px 0;
        height: 65vh !important;
    }
}

@media(max-width:870px){
    .happyclients{
        margin-top: 210px !important;

    }.contactus{
        margin-top:-200px !important;
        height: 60vh !important;
        
    }
}